$main : #4F5DCD;

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}
@mixin mQ($arg){
    @media screen and (max-width: $arg){
        @content;
    }
}

body{
    background: #F5F5F5;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background: #FD629D;
    height: 50px;
    box-shadow: 0 4px 4px -2px #ccc;
    @include mQ(768px){
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 999;
        height: 80px;
        
    }
    
    ul{
        transform: translateY(12px);
        width: 80%;
        margin: 0 auto;
        @include mQ(768px){
            // margin: 0 auto;
            width: 80%;
        }
        @include mQ(330px){
            // margin: 0 auto;
            width: 100% !important;
        }

        li{
            list-style: none;
            display: inline-block;
            
             
            a{
                text-decoration: none;
                font-family: 'Poiret One', cursive;
                font-weight: 600;
                color:white;
                padding-right: 20px;
                font-size: 1.2em;
                letter-spacing: 1px;
               

                &:hover{
                    color: #4F5DCD;
                    transition: color .2s;
                }

                svg{
                    margin-top: -5px;
                    padding-right: 7px;
                    @include mQ(768px){
                        padding-left: 160px;
                        font-size: 2em;
                        margin-top: 10px;

                        
                    }
                    @include mQ(450px){
                        // margin: 0 auto;
                        padding-left: 80px !important;
                    }
                    @include mQ(380px){
                        // margin: 0 auto;
                        padding-left: 60px !important;
                    }
                    
                }
            }
        }
    }
}

.body-wrapper{
    width: 80%;
    margin: 20px auto 80px auto;
    display: flex;
    flex-wrap: wrap;
    @include mQ(768px){
        width:95%;
     }
        .profile{
            width: 45%;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px 10px;
            background-color: white;
            border-radius: 1px;
            box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
            @include mQ(768px){
               width: 100%;
               margin-bottom: 1px;
            }
            .author-info{
                margin-bottom: 10px;
                padding-left: 25px;
                p{
                    display: inline-block;
                    transform: translateY(-70%);
                    padding-left: 10px;
                    color: $main;
                    font-weight: 600;
                    font-size: 1.05em;

                }
                img{
                    width: 40px;
                    border-radius: 50%;
                }
            }
        }
        .body{
            position: relative; 
            img{
                width: 100%;
                height: 350px;
            }
            .on-image{
                position: absolute;
                width: 95%;
                top: 85%;
                left: 10px; 
                .item-title{
                    display: inline-box;
                    float:left;
                    font-size: 1.3em;
                    // letter-spacing: -1px;
                    color:white;
                    // font-weight: bold;
                }
                .heart-liked,
                .heart-unliked{
                    // display: inline-block;
                    float: right;
                    font-size: 1.5em;
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /* Adjust the color values to achieve desired darkness */
                background: linear-gradient(transparent,rgba(0,0,0,1));
            }
           
        }
        
        .details{
            padding: 10px;

            p:nth-child(2){
                color: lighten($color: #000000, $amount: 40)
            }
            .like-count{
                color: $main;
                font-weight: 900;
                letter-spacing: 1px;
                font-size: .9em;
                margin-bottom: 5px;

                svg{
                    padding-right: 5px;
                    margin-top: -3px;
                }
            }
            .item-tags{
                margin-bottom: 5px;
                color: lighten($color: $main, $amount: 5)
            }
            .comments{
                color: #ccc;
            }
        }

        
}

.heart-liked{
    color: red;
    transition: color.1s;
    cursor: pointer;
}
.heart-unliked{
    color: #ccc;
    cursor: pointer;
}


.nav-item{
    font-family: 'Poiret One', cursive;
    @include mQ(768px){
        display: none;
    }
}